.filter_holder {
	border-top: 1px solid var(--grey);
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.filter_separator {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.9rem 3rem;
	width: 90%;
}

.filter {
	padding: 1rem 3rem;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	padding-bottom: 0rem;
	position: relative;
	right: 4%;
	cursor: pointer;

	/* position: sticky; */
}

.filter_button {
	display: flex;
	border: 1px solid #e0dddd;
	padding: 0.85rem 1.4rem;
	font-size: 0.78rem;
	border-radius: 10px;
	gap: 0.2rem;
	cursor: pointer;
}

.filter_button_icon {
	font-size: 0.98rem;
	font-weight: 600;
}

.link_image {
	width: 1.8rem;
	height: 1.8rem;
	object-fit: contain;
}

.link_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	margin-right: 2rem;
	opacity: 0.6425339366515838;
	border-bottom: 1.5px solid transparent;
}

.link_box:hover,
.selected_box {
	opacity: 1;
	border-bottom: 2px solid var(--grey);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.selected_box {
	border-bottom: 2px solid #333;
	color: #333;
}

.link_label {
	font-size: 0.7rem;
	color: var(--fontG);
	width: 100%;
	white-space: nowrap;
	position: relative;
}

.selected_label {
	color: #333;
	cursor: pointer;
}

.filter_separator .swiper-pagination-bullet-active {
	background-color: var(--grey) !important;
}

.filter .swiper-pagination-bullet-active {
	background-color: var(--grey) !important;
}

@media screen and (max-width: 800px) {
	.filter {
		padding: 0.5rem;
	}
}
