.navHolder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.displayNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 0.1rem;
	border: 1px solid #e0dddd;
	border-radius: 10px;
	min-width: fit-content;
	width: 42rem;
}

.totalPrice {
	display: flex;
	align-items: center;
}

.text1 {
	border-right: 1px solid var(--grey);
	padding: 0 1rem;
	font-size: 0.95rem;
}

.text2 {
	padding: 0 1rem;
	color: var(--fontG);
	font-size: 0.9rem;
	font-weight: 400;
}

@media screen and (max-width: 800px) {
	.displayNav {
		padding: 0.1rem 0.1rem;
		width: 21.5rem;
		height: 4rem;
		overflow: hidden;
	}

	.text1 {
		border: none;
		font-size: 0.8rem;
	}

	.text2 {
		height: 80%;
		font-size: 0.7rem;
	}

	.totalPrice {
		display: flex;
		flex-direction: column;
		gap: 0;
		justify-content: flex-start;
		align-items: flex-start;
		line-height: 0;
	}

	.navHolder {
		margin-top: 1.3rem;
	}
}
