/* DEFAULTS */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 75px;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(108, 104, 104);
	border-radius: 40px;
}
::-webkit-scrollbar-track {
	background-color: #aba5a593;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.sticktotop {
	position: sticky;
	top: 0;
	background: #fefefe;
	z-index: 100;
	width: 99vw;
	padding-top: 0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 2.8em;
	height: 2em;
	right: 30%;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background: var(--grey);
	border-radius: 50px;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:hover {
	background: var(--fontG);
}

.slider:before {
	position: absolute;
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;

	height: 1.8em;
	width: 1.8em;
	inset: 0;
	top: 4%;
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
	background: #212020;
}

.radicon {
	display: none;
	display: flex;
	color: #282c34;
	z-index: 9999;
}
.switch input:checked + .radicon {
	display: flex;
	color: #282c34;
	z-index: 9999;
}

.switch input:checked + .slider:before {
	transform: translateX(1em);
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
	color: var(--aired) !important;
}

@media screen and (max-width: 800px) {
	::-webkit-scrollbar {
		width: 6px;
		display: none;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgb(108, 104, 104);
		border-radius: 40px;
		display: none;
	}
	::-webkit-scrollbar-track {
		display: none;
		background-color: #aba5a593;
	}
	.sticktotop {
		border-bottom: 1px solid #ddd;
		padding-top: 1rem;
	}
}
