@font-face {
	font-family: 'AirbnbCereal';
	src: url('../src/assets/font/AirbnbCereal_W_Lt.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AirbnbCereal';
	src: url('../src/assets/font/AirbnbCereal_W_Md.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

:root {
	--grey: #ddd;
	--white: #fefefe;
	--fontG: #717171;
	--aired: #ff385c;
	--swiper-theme-color: #ecf1f6 !important;
	--swiper-navigation-size: 24px !important;
}

body {
	font-family: 'AirbnbCereal', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	padding: 0;
	background: white;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		'AirbnbCereal', monospace;
}
